.container{
    text-align: center;
    width: 500px;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 5px 10px 0 pink;
    margin: 0px auto;
}

.container > input{
    display: block;
    margin: 10px auto;
    width: 50%;
    padding: 10px;
}

.container > button{
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
}

.footer{
    margin-top: 30px;
}