
*{
    padding: 0; margin: 0;
    box-sizing: border-box;
    font-size: 12px;
}

/* __ONLY DEV__ */
/* *{
    border: 0.1px solid red;
    padding: 0.1px;
} */

li{
    list-style-type: none;
}
a{
    color:black;
    text-decoration: none;
}

/** wrap **/
#wrap{

}

/** header **/
#header{
    width:100%;
    display:contents;
}
/* ============== 1.상단메뉴 ===================== */
#topMenu{
  display: flex; justify-content: flex-end; 
  border-bottom: 1px solid #dbdbdb; 
  padding: 10px;
}
#topMenu > li > span { padding: 0px 15px;}
#topMenu > li img { width: 20px; margin: 2px 20px 0px 0px; }
/* ============== 2.본메뉴 ===================== */
#mainMenu{
  display: flex; justify-content: space-between; align-items: center;
  padding: 0px 40px;
}
#mainMenu > ul{ display: flex; width: 80%; }
#mainMenu > ul > li{
    height: 80px; width: 80px;
    display: flex; align-items: center; justify-content: center;
}
#searchBox{ border-bottom: 1px solid black;}
#searchBox > input{ border: none; padding: 5px; width: 130px; background-color: rgba( 255, 255,
255, 0); }
#searchBox > img{ width: 15px;}
*:focus{ outline: none; }
#mainMenu .new{ color: red; }
#mainMenu .logo{ width: 155px; }
/* ================ 2-2 드롭메뉴 ================= */
#mainMenu > ul > li{ position: relative; }
#mainMenu .subMenu{
  position: absolute; top: 80px;
  background-color: white;
  width: 130%;
  text-align: center;
  display: none; 
}
#mainMenu .subMenu > li{ margin:10px;}

#mainMenu > ul > li:hover .subMenu{ display: block;}
/* ============== 2-3. 본메뉴 sticky ===================== */
#mainMenu{
  position: sticky;
  top : 0px; 
  background-color: rgba( 255, 255, 255, 0.8); 
}


/** mainImg **/
#mainImage{
}
#mainImage .mainImageItem{
    width:100%;
}

/** content **/
#content{
    margin: 40px 0;
    text-align: center;
}
#content .title{
    font-size: 20px;
    margin-bottom: 20px;
}
#content .items{
    width: 400px;
}
#content .items .item-meta{
    display: flex;
    justify-content: space-between;
}
#content .items .color > span{
    width: 10px;
    height: 10px;
    display: inline-block;
    border: 1px solid lightgray;
}
/** footer **/

/** popup **/