.container{
    background-color: pink;
    width: 400px;
    padding: 20px;
    text-align: center;
}
.title{
    border: 3px solid white;
    border-radius: 40px;
    padding: 15px;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
}
.image{
    margin: 30px;
}
.img{
    width: 240px;
    height: 240px;
    border-radius: 200px;
}
.textContainer{
    margin: 20px;
}
.text{
    margin: 0px;
    font-weight: bold;
}
.button{
    background-color: skyblue;
    padding: 20px;
    border-radius: 10px;
    margin: 15px;
}
.button-link{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 18px;
}