*{ /* 공통(관례적) css */
    box-sizing: content-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 12px;
    padding: 0px; margin: 0px;
 }
 a{ /* a 마크업 기본 css 제거 */
    text-decoration: none;
    color: black;
 }
 li{
    list-style-type: none;
 }

/* 작업용 */
/* *{ 
    border: 0.1px solid red;
} */

/* ============= [1] header ============= */
#header{
    display: flex;
    justify-content: space-between;
    width: 1000px; margin: 0 auto;
    align-items: center;
}
#header #header-right{
}
#header #top-menu{
    display: flex;
    justify-content: flex-end;
}
#header #top-menu li a{
    margin-left: 10px;
    font-size: 10px;
}
#header #main-menu{
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}
#header #main-menu li a{
    margin-left: 30px;
    font-size: 20px; font-weight: bold;
}
/* ============= [2] banner ============= */
#banner{
    width:100%;
    margin: 20px 0;
}
#banner .img-container{
    width:100%;
}
/* ============= [3] main ============= */
#main{
    display: flex;
    width: 1000px; margin: 0 auto;
}
#main #sidebar{
    width: 200px;
}
#sidebar > h3{
    background-color: gray; color: white;
    font-size: 18px;
    padding: 8px;
}
#sidebar > ol > li{
    border-bottom: 1px solid gray;
    padding: 8px;
}
#sidebar > ol > li > a{
    font-size: 13px;
    font-weight: 500;
}
#content{
    width: 770px;
    margin-left: 30px;
}
#content .title{
    font-size: 18px;
}
#content .divider{
    margin: 20px 0px;
    height: 1px;
    background-color: gray;
}
#content .content-detail img{
    display: block;
    margin: 0 auto;
}
/* ============= [4] footer ============= */
#footer{
    background-color: #2c2a29;
    margin-top: 20px;
    padding-top: 20px;
}
#footer #footer-inner{
    width: 1000px; margin: 0 auto;
    color: white;
    display: flex;
    justify-content: space-between;
}
